Repository WassimJabz/Purposeful, pull requests merged in 2023-04, with the labels that each got.

#265 T257 - Setup a database dump for the purpose of easier frontend testing and demoing
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  sqlDumps/purposeful_demo.sql
Labels: backend, feature

#263 T265 - Implement getCollaborationRequestsByIdea & Add an id to the CollaborationRequestDTO
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationRequestController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/CollaborationRequestRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationRequestDTO.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationRequestService.java
  backend/src/test/java/ca/mcgill/purposeful/dao/CollaborationRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestCollaborationRequestService.java
Labels: backend

#280 T203 - Connect the frontend component to delete an idea to the backend
  frontend/purposeful-frontend/components/ModifyIdea.js
  frontend/purposeful-frontend/utils/idea_tool.js
Labels: Idea, frontend

#276 T241 - Fix input mode to DTO for handling collaboration requests
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationResponseController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationResponseInformationDTO.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID025_respondToCollaborationRequests.java
Labels: backend

#278 T221 - Fix bug to pass in only id of idea to send a collaboration request
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationRequestController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationRequestDTO.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID022_collaborationRequestWithMessage.java
Labels: backend

#273 T180 - fixed error checking for modify account details
  frontend/purposeful-frontend/app/account/page.js
  frontend/purposeful-frontend/components/ModifyAccountDetails.js
Labels: frontend

#279 Design and implement component for handling requests
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationRequestDTO.java
  frontend/purposeful-frontend/.eslintrc.json
  frontend/purposeful-frontend/app/collaborationRequests/head.js
  frontend/purposeful-frontend/app/collaborationRequests/page.js
  frontend/purposeful-frontend/components/CollaborationRequestIncoming.js
Labels: frontend

#275 T231 & T232 - Connect all necessary components on the frontend page to make request of getting all of a user's ideas to the backend and Make improvements to the UI for a user to easily access their own ideas that they created
  backend/src/test/resources/ID024_accessCreatedIdeas.feature
  frontend/purposeful-frontend/components/MyIdeas.js
  frontend/purposeful-frontend/utils/idea_tool.js
Labels: Idea, frontend

#284 T256 - Make backend tests run in randomized order
  backend/build.gradle
  backend/src/test/java/ca/mcgill/purposeful/features/RunCucumberTest.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
Labels: backend, test

#286 T258 - Setup the initial entries in the database when application starts
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
Labels: enhancement, backend

#287 T233 - Fix major bugs and document all known minor bugs for the frontend page involving a user accessing the ideas they created
  frontend/purposeful-frontend/app/idea/modify/page.js
  frontend/purposeful-frontend/components/ModifyIdea.js
  frontend/purposeful-frontend/components/MyIdeas.js
Labels: Idea, frontend

#297 T239 - Fix bug with new backend end point and increase message box size
  frontend/purposeful-frontend/components/CollaborationRequestIncoming.js
Labels: bug, frontend

#294 Various fixes for idea details and collaboration requests
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  backend/src/main/java/ca/mcgill/purposeful/controller/ReactionController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/AppUserDto.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionRequestDTO.java
  backend/src/main/resources/application.properties.example
  backend/src/test/java/ca/mcgill/purposeful/features/ID021_userHighFiveIdeaStepDefinitions.java
  backend/src/test/resources/ID021_userHighFiveIdea.feature
  frontend/purposeful-frontend/app/collaborationRequests/page.js
  frontend/purposeful-frontend/app/idea/[ideaId]/head.js
  frontend/purposeful-frontend/app/idea/[ideaId]/page.js
  frontend/purposeful-frontend/app/idea/head.js
  frontend/purposeful-frontend/app/idea/page.js
  frontend/purposeful-frontend/app/layout.js
  frontend/purposeful-frontend/app/myideasofinterest/head.js
  frontend/purposeful-frontend/app/myideasofinterest/page.js
  frontend/purposeful-frontend/app/page.js
  frontend/purposeful-frontend/app/styles.module.css
  frontend/purposeful-frontend/components/Carousel.js
  frontend/purposeful-frontend/components/CollabRequestPopup.js
  frontend/purposeful-frontend/components/HighFiveBtn.js
  frontend/purposeful-frontend/components/IdeaCard.js
  frontend/purposeful-frontend/components/IdeaFilter.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/components/MoreDetailsOfIdea.js
  frontend/purposeful-frontend/components/NavBar.js
  frontend/purposeful-frontend/next.config.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
  frontend/purposeful-frontend/utils/idea_tool.js
Labels: frontend

#299 T204 - Browse ideas
  frontend/purposeful-frontend/app/page.js
  frontend/purposeful-frontend/components/IdeaCard.js
  frontend/purposeful-frontend/components/IdeaFilter.js
  frontend/purposeful-frontend/components/IdeaFilter2.js
  frontend/purposeful-frontend/components/MoreDetailsOfIdea.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
  frontend/purposeful-frontend/utils/idea_tool.js
Labels: frontend

#304 Create READ.ME File
  README.md
Labels: documentation

#295 Various fixes to the login page
  frontend/purposeful-frontend/app/login/page.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/package-lock.json
Labels: frontend

#306 T199 - Connect all necessary components on the frontend page to send idea modifications to the backend
  frontend/purposeful-frontend/app/idea/modify/page.js
  frontend/purposeful-frontend/components/ModifyIdea.js
  frontend/purposeful-frontend/utils/idea_tool.js
Labels: frontend

#305 T247
  frontend/purposeful-frontend/app/myideasofinterest/page.js
  frontend/purposeful-frontend/components/CollaborationResponse.js
  frontend/purposeful-frontend/components/IdeaCard.js
Labels: frontend

#307 T262 java doc
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/AuthenticationConverter.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/Authority.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/JWTKey.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationRequestController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationResponseController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/DemoController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/LoginController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/AppUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/CollaborationRequestRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/CollaborationResponseRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/DomainRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/IdeaRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ModeratorRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/OwnerRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ReactionRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/RegularUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/TechnologyRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/TopicRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/URLRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/VerificationRequestRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dto/AppUserDto.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationRequestDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationResponseDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationResponseInformationDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/DomainDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaRequestDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionRequestDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/SearchFilterDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TechDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TopicDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/URLDTO.java
  backend/src/main/java/ca/mcgill/purposeful/exception/GlobalException.java
  backend/src/main/java/ca/mcgill/purposeful/model/AppUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/CollaborationRequest.java
  backend/src/main/java/ca/mcgill/purposeful/model/CollaborationResponse.java
  backend/src/main/java/ca/mcgill/purposeful/model/Domain.java
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  backend/src/main/java/ca/mcgill/purposeful/model/Moderator.java
  backend/src/main/java/ca/mcgill/purposeful/model/Owner.java
  backend/src/main/java/ca/mcgill/purposeful/model/Reaction.java
  backend/src/main/java/ca/mcgill/purposeful/model/RegularUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Role.java
  backend/src/main/java/ca/mcgill/purposeful/model/SecurityUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Status.java
  backend/src/main/java/ca/mcgill/purposeful/model/Technology.java
  backend/src/main/java/ca/mcgill/purposeful/model/Topic.java
  backend/src/main/java/ca/mcgill/purposeful/model/URL.java
  backend/src/main/java/ca/mcgill/purposeful/model/VerificationRequest.java
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationRequestService.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationResponseService.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/main/java/ca/mcgill/purposeful/util/DtoUtility.java
Labels: documentation

#311 T232 - Many big fixes
  frontend/purposeful-frontend/app/myideas/page.js
  frontend/purposeful-frontend/app/myideasofinterest/page.js
  frontend/purposeful-frontend/components/CollaborationResponse.js
  frontend/purposeful-frontend/components/HighFiveBtn.js
  frontend/purposeful-frontend/components/MoreDetailsOfIdea.js
  frontend/purposeful-frontend/components/MyIdeas.js
Labels: bug, frontend
