Repository WassimJabz/Purposeful, pull requests merged in 2023-02, with the labels that each got.

#27 T157 - Test Owner and Moderator CRUD repository
  backend/build.gradle
  backend/src/main/java/ca/mcgill/purposeful/dao/RoleRepository.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ModeratorRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/OwnerRepositoryTests.java
Labels: backend, test

#40 T152 sasha
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/AuthenticationConverter.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/Authority.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/JWTKey.java
  backend/src/main/java/ca/mcgill/purposeful/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/mcgill/purposeful/controller/DemoController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/LoginController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/AppUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/DomainRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/IdeaRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ModeratorRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/OwnerRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ReactionRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/RegularUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/TechnologyRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/TopicRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/URLRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/VerificationRequestRepository.java
  backend/src/main/java/ca/mcgill/purposeful/exception/GlobalException.java
  backend/src/main/java/ca/mcgill/purposeful/exception/GlobalExceptionHandler.java
  backend/src/main/java/ca/mcgill/purposeful/model/AppUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Domain.java
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  backend/src/main/java/ca/mcgill/purposeful/model/Moderator.java
  backend/src/main/java/ca/mcgill/purposeful/model/Owner.java
  backend/src/main/java/ca/mcgill/purposeful/model/Reaction.java
  backend/src/main/java/ca/mcgill/purposeful/model/RegularUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Role.java
  backend/src/main/java/ca/mcgill/purposeful/model/SecurityUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Technology.java
  backend/src/main/java/ca/mcgill/purposeful/model/Topic.java
  backend/src/main/java/ca/mcgill/purposeful/model/URL.java
  backend/src/main/java/ca/mcgill/purposeful/model/VerificationRequest.java
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/main/java/ca/mcgill/purposeful/service/LoginService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/ca/mcgill/purposeful/PurposefulApplicationTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/AppUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ExampleRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ModeratorRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/OwnerRepositoryTests.java
  backend/src/test/resources/ID001_createModerator.feature
  backend/src/test/resources/ID002_modifyModerator.feature
  backend/src/test/resources/ID019_browseIdea.feature
  backend/src/test/resources/ID020_moreDetailsOfIdea.feature
  backend/src/test/resources/ID026_userConversation.feature
  backend/src/test/resources/ID027_creatorReplyToIdea.feature
  backend/src/test/resources/ID033_creatorIdeaChat.feature
  backend/src/test/resources/ID034_creatorInvitationMessage.feature
  backend/src/test/resources/ID036_userIdeaChat.feature
Labels: backend, test

#38 T158_Enzo: Test Topic CRUD repository
  backend/src/test/java/ca/mcgill/purposeful/dao/ExampleRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/TopicRepositoryTests.java
Labels: backend, test

#36 T155 - CRUD tests for Reaction repository
  backend/build.gradle
  backend/src/test/java/ca/mcgill/purposeful/dao/ReactionRepositoryTests.java
Labels: backend, test

#34 T156 - Test Regular User CRUD repository
  backend/src/main/java/ca/mcgill/purposeful/model/Role.java
  backend/src/test/java/ca/mcgill/purposeful/dao/RegularUserRepositoryTests.java
Labels: backend, test

#33 T153 - Test Domain DAO
  backend/src/test/java/ca/mcgill/purposeful/dao/DomainRepositoryTests.java
Labels: backend, test

#29 T154 - Idea CRUD Repository Tests
  backend/src/test/java/ca/mcgill/purposeful/dao/IdeaRepositoryTests.java
Labels: backend, test

#44 T033 Implement and test the service method that allows a user to create a new account
  backend/src/main/java/ca/mcgill/purposeful/dao/AppUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ModeratorRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/OwnerRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestAppUserService.java
Labels: backend, test

#46 T149 - Integrated cucumber tests into gradle build. Commented out. Refined create and modify moderator files (T006, T014)
  backend/build.gradle
  backend/src/main/resources/application.properties.example
  backend/src/test/java/ca/mcgill/purposeful/features/CreateModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ModifyModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/RunCucumberTest.java
  backend/src/test/resources/ID001_createModerator.feature
  backend/src/test/resources/ID002_modifyModerator.feature
  backend/target/cucumber-report.html
Labels: backend

#56 T163 - fixed comments in feature file, and bug in TestExampleService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestExampleService.java
  backend/src/test/resources/ID001_createModerator.feature
  backend/src/test/resources/ID002_modifyModerator.feature
Labels: backend

#65 T038 modify moderator and modify user feature files
  backend/src/test/resources/ID002_modifyModerator.feature
  backend/src/test/resources/ID005_modifyUser.feature
Labels: backend

#59 T030 - Refine all acceptance criteria defined in the feature file for creating a regular user
  backend/src/main/java/ca/mcgill/purposeful/model/Domain.java
  backend/src/main/java/ca/mcgill/purposeful/model/Topic.java
  backend/src/main/java/ca/mcgill/purposeful/model/URL.java
  backend/src/test/java/ca/mcgill/purposeful/dao/AppUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/DomainRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/OwnerRepositoryTests.java
  backend/src/test/resources/ID001_createModerator.feature
  backend/src/test/resources/ID004_createUser.feature
Labels: test

#61 T091 - Create the "View more details of idea" feature file
  backend/src/test/resources/ID020_moreDetailsOfIdea.feature
Labels: Idea, backend

#57 T084 Browse idea feature file
  backend/src/test/resources/ID019_browseIdea.feature
Labels: backend

#77 T030 Synchronize implemented code for fixed domain model
  backend/src/main/java/ca/mcgill/purposeful/model/AppUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Technology.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestAppUserService.java
  backend/src/test/resources/ID001_createModerator.feature
  backend/src/test/resources/ID004_createUser.feature
Labels: backend, test

#52 login feature file, closes #51
  backend/src/test/resources/ID003_login.feature
  backend/src/test/resources/ID003_loginModerator.feature
  backend/src/test/resources/ID006_loginUser.feature
Labels: backend, test

#66 T062 - Modify idea Feature File
  backend/src/test/resources/ID016_modifyIdea.feature
Labels: backend

#80 T009 - Implement and test the service methods for the owner to create a moderator account
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/test/java/ca/mcgill/purposeful/dao/AppUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/DomainRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/IdeaRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ModeratorRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/OwnerRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ReactionRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/RegularUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/TechnologyRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/TopicRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/UrlRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/features/CreateModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ModifyModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestAppUserService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestExampleService.java
  backend/src/test/java/ca/mcgill/purposeful/util/Util.java
Labels: backend, test

#82 T034 - Implement and document the RESTful API endpoints in the controller for a user to create an account
  backend/src/main/java/ca/mcgill/purposeful/configuration/SecurityConfiguration.java
  backend/src/main/java/ca/mcgill/purposeful/controller/AppUserController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/AppUserDto.java
  backend/src/main/java/ca/mcgill/purposeful/util/DtoUtility.java
Labels: backend

#90 T093 - Create DTO for idea details (closes #88)
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/DetailedIdeaDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/DomainDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TechDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TopicDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/URLDTO.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModifyIdeaService.java
  backend/src/test/resources/ID016_modifyIdea.feature
Labels: backend

#71 T098 - userHighFiveIdea.feature
  backend/src/test/resources/ID021_userHighFiveIdea.feature
Labels: HighFive, Idea, backend, feature

#70 T070 - removeIdea.feature
  backend/src/test/resources/ID017_removeIdea.feature
Labels: Idea, backend, feature

#64 T054 - "Create Idea" feature file
  backend/src/test/resources/ID015_createIdea.feature
Labels: backend

#92 T100 - ReactionDto.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionDTO.java
Labels: HighFive, backend

#94 T064 - Remaining DTOs for Modifying Idea
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/DomainDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TechDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TopicDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/URLDTO.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModifyIdeaService.java
Labels: backend

#93 T094 - Idea details controller method (closes #86)
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
Labels: backend

#87 T010 Rest controller method to register a moderator
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  backend/src/main/java/ca/mcgill/purposeful/controller/AppUserController.java
Labels: backend

#101 T086 - Service methods & tests for the browse ideas feature
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
Labels: Idea, backend

#104 T087 - Added the browse idea controllers and refactored the idea DTO
  backend/src/main/java/ca/mcgill/purposeful/configuration/Authority.java
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/DetailedIdeaDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaDTO.java
Labels: Chat, backend

#105 CI
  .github/workflows/main.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
Labels: test

#108 T066 - Controller method for modifying an idea
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
Labels: Idea, backend

#106 T065 - Modifying Idea Service Method and Tests
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModifyIdeaService.java
Labels: Idea, backend

#113 T023
  backend/src/main/java/ca/mcgill/purposeful/controller/DemoController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/LoginController.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID003_loginStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID004_createUserStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/RunCucumberTest.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID003_login.feature
  backend/src/test/unimplemented/ID003_login.feature
Labels: backend, test

#114 T041 - Service method and tests for modifying AppUser (to dev)
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestAppUserService.java
Labels: backend, test

#109 T057 - Implement the service method that allows a user to create an idea
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
Labels: Idea, backend

#128 T101 - Implement and test the service method that allows a user to "high five" an idea
  backend/src/main/java/ca/mcgill/purposeful/dao/IdeaRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ReactionRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/URLRepository.java
  backend/src/main/java/ca/mcgill/purposeful/model/Reaction.java
  backend/src/main/java/ca/mcgill/purposeful/model/RegularUser.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/main/java/ca/mcgill/purposeful/service/ReactionService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestReactionService.java
Labels: HighFive, backend

#133 T092 - Step Definitions for more details of an idea
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID003_loginStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID004_createUserStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID020_moreDetailsOfIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID020_moreDetailsOfIdea.feature
Labels: Idea, backend

#135 T085 - Step definitions for browse ideas
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/RegularUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dto/DomainDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/SearchFilterDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TechDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/TopicDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/URLDTO.java
  backend/src/main/java/ca/mcgill/purposeful/model/AppUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Role.java
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/dao/AppUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID019_browseIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID020_moreDetailsOfIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/java/ca/mcgill/purposeful/util/DatabaseUtil.java
  backend/src/test/resources/ID019_browseIdea.feature
  backend/src/test/resources/ID020_moreDetailsOfIdea.feature
  backend/src/test/unimplemented/ID019_browseIdea.feature
Labels: Chat, backend

#134 T007 - Implement step definitions for acceptance tests defined in the feature file for creating a moderator
  backend/src/test/java/ca/mcgill/purposeful/features/ID001_createModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID004_createUserStepDefinitions.java
  backend/src/test/resources/ID001_createModerator.feature
  backend/src/test/unimplemented/ID001_createModerator.feature
Labels: test

#144 T073 - Implement and document the RESTful API endpoints in the controller for a user to remove an idea
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/IdeaRepository.java
  backend/src/main/java/ca/mcgill/purposeful/model/Reaction.java
Labels: Idea, backend

#145 T071 - Implement step definitions for acceptance tests defined in the feature file
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  backend/src/test/java/ca/mcgill/purposeful/dao/IdeaRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID017_removeIdeaStepDefinitions.java
  backend/src/test/resources/ID017_removeIdea.feature
  backend/src/test/unimplemented/ID017_removeIdea.feature
Labels: Idea, backend

#137 T015 - Implement step definitions for acceptance tests defined in modify moderator feature file
  backend/src/main/java/ca/mcgill/purposeful/controller/AppUserController.java
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/main/java/ca/mcgill/purposeful/service/LoginService.java
  backend/src/main/java/ca/mcgill/purposeful/service/ModeratorService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID002_modifyModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID005_modifyUserStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModeratorService.java
  backend/src/test/resources/ID002_modifyModerator.feature
  backend/src/test/resources/ID005_modifyUser.feature
  backend/src/test/unimplemented/ID002_modifyModerator.feature
  backend/src/test/unimplemented/ID005_modifyUser.feature
Labels: Admin, backend, test

#115 T017 - Modify Moderator service methods and corresponding tests (to dev)
  backend/src/main/java/ca/mcgill/purposeful/service/ModeratorService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModeratorService.java
Labels: backend, test

#127 T018 - Impelement and document RESTful API endpoints modifying a moderator account
  backend/src/main/java/ca/mcgill/purposeful/controller/AppUserController.java
  backend/src/main/java/ca/mcgill/purposeful/service/AppUserService.java
  backend/src/main/java/ca/mcgill/purposeful/service/ModeratorService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModeratorService.java
Labels: documentation, backend

#147 T063 - Implement step definitions for acceptance tests defined in the modifying idea feature file
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaDTO.java
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaRequestDTO.java
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/main/java/ca/mcgill/purposeful/util/DtoUtility.java
  backend/src/test/java/ca/mcgill/purposeful/dao/IdeaRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID016_modifyIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
  backend/src/test/resources/ID016_modifyIdea.feature
  backend/src/test/unimplemented/ID016_modifyIdea.feature
Labels: Idea, backend

#146 T058 - Implement and document the RESTful API endpoints in the controller for a user to create an idea
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
Labels: Idea, backend

#154 T168 - Fix bidirectional problem between AppUser and Role
  backend/src/main/java/ca/mcgill/purposeful/dao/ModeratorRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/OwnerRepository.java
  backend/src/main/java/ca/mcgill/purposeful/model/AppUser.java
  backend/src/main/java/ca/mcgill/purposeful/model/Idea.java
  backend/src/main/java/ca/mcgill/purposeful/model/Moderator.java
  backend/src/main/java/ca/mcgill/purposeful/model/Owner.java
  backend/src/main/java/ca/mcgill/purposeful/model/Reaction.java
  backend/src/main/java/ca/mcgill/purposeful/model/RegularUser.java
  backend/src/main/java/ca/mcgill/purposeful/service/ModeratorService.java
  backend/src/test/java/ca/mcgill/purposeful/dao/AppUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestModeratorService.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/java/ca/mcgill/purposeful/util/DatabaseUtil.java
Labels: bug, backend

#158 set up frontend Next.js project
  frontend/purposeful-frontend/.eslintrc.json
  frontend/purposeful-frontend/.gitignore
  frontend/purposeful-frontend/README.md
  frontend/purposeful-frontend/app/example/globals.css
  frontend/purposeful-frontend/app/example/head.js
  frontend/purposeful-frontend/app/example/layout.js
  frontend/purposeful-frontend/app/example/page.js
  frontend/purposeful-frontend/app/example/page.module.css
  frontend/purposeful-frontend/app/head.js
  frontend/purposeful-frontend/app/layout.js
  frontend/purposeful-frontend/app/login/head.js
  frontend/purposeful-frontend/app/login/page.js
  frontend/purposeful-frontend/app/page.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/jsconfig.json
  frontend/purposeful-frontend/next-env.d.ts
  frontend/purposeful-frontend/next.config.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
  frontend/purposeful-frontend/pages/api/hello.js
  frontend/purposeful-frontend/postcss.config.js
  frontend/purposeful-frontend/public/favicon.ico
  frontend/purposeful-frontend/public/next.svg
  frontend/purposeful-frontend/public/thirteen.svg
  frontend/purposeful-frontend/public/vercel.svg
  frontend/purposeful-frontend/tailwind.config.js
Labels: frontend

#156 fixed api/login endpoint
  backend/src/main/java/ca/mcgill/purposeful/controller/LoginController.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID001_createModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID002_modifyModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID003_loginStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID005_modifyUserStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID016_modifyIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID017_removeIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID019_browseIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID020_moreDetailsOfIdeaStepDefinitions.java
  backend/src/test/resources/ID003_login.feature
Labels: backend

#152 T055 - Create Idea Step Definitions
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID015_createIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
  backend/src/test/resources/ID015_createIdea.feature
  backend/src/test/unimplemented/ID015_createIdea.feature
Labels: Idea, backend

#140 T102 - Implement and document the RESTful API endpoints in the controller for a user to "high five" an idea
  backend/src/main/java/ca/mcgill/purposeful/controller/ReactionController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ReactionRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionRequestDTO.java
  backend/src/main/java/ca/mcgill/purposeful/service/ReactionService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID001_createModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID002_modifyModeratorStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID003_loginStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID005_modifyUserStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID015_createIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID016_modifyIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID017_removeIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID019_browseIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID020_moreDetailsOfIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestReactionService.java
  backend/src/test/resources/ID015_createIdea.feature
Labels: HighFive, backend

#160 Filter out private ideas - Bug fixed
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID016_modifyIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID017_removeIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID019_browseIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID020_moreDetailsOfIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID017_removeIdea.feature
  backend/src/test/resources/ID019_browseIdea.feature
Labels: Chat, backend

#118 Draft: Code coverage
  .github/workflows/main.yml
  backend/build.gradle
  backend/src/test/badges/test.svg
  gradlew
Labels: documentation, test

#161 T099 - Implement step definitions for acceptance tests defined in the feature file
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/ReactionController.java
  backend/src/main/java/ca/mcgill/purposeful/dao/ReactionRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dao/RegularUserRepository.java
  backend/src/main/java/ca/mcgill/purposeful/dto/ReactionDTO.java
  backend/src/main/java/ca/mcgill/purposeful/service/ReactionService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID017_removeIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID021_userHighFiveIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID017_removeIdea.feature
  backend/src/test/resources/ID021_userHighFiveIdea.feature
  backend/src/test/unimplemented/ID021_userHighFiveIdea.feature
Labels: HighFive, backend
