Repository WassimJabz/Purposeful, pull requests merged in 2023-03, with the labels that each got.

#165 T226 - Feature file for accessing created ideas
  backend/src/test/unimplemented_resources/ID024_accessCreatedIdeas.feature
Labels: Idea, backend

#168 T173 - Set up Chakra UI with the Next.js and React.js frontend
  frontend/purposeful-frontend/app/_app.js
  frontend/purposeful-frontend/app/layout.js
  frontend/purposeful-frontend/app/login/page.js
  frontend/purposeful-frontend/app/page.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
Labels: frontend

#172 T172 - Implement the interest repository tests for new classes
  backend/src/test/java/ca/mcgill/purposeful/dao/AppUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/CollaborationConfirmationRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/DomainRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/IdeaRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ModeratorRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/OwnerRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/ReactionRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/RegularUserRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/TechnologyRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/TopicRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/UrlRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/util/DatabaseUtil.java
Labels: backend, test

#174 T222 - Write feature file for feature to browse ideas by collaboration request
  backend/src/test/unimplemented_resources/ID023_browseIdeasByCollaborationRequest.feature
Labels: enhancement, Idea, backend

#179 T186 - Design and implement the components for the frontend page for new users to register and sign up
  .github/workflows/main.yml
  frontend/purposeful-frontend/app/layout.js
  frontend/purposeful-frontend/app/register/head.js
  frontend/purposeful-frontend/app/register/page.js
  frontend/purposeful-frontend/app/theme.js
  frontend/purposeful-frontend/components/Registration.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
Labels: frontend

#183 T175 - Design and implement the components for the frontend page to create moderators
  .github/workflows/main.yml
  frontend/purposeful-frontend/app/layout.js
  frontend/purposeful-frontend/app/register/moderator/head.js
  frontend/purposeful-frontend/app/register/moderator/page.js
Labels: frontend

#177 T214 - Send collaboration request feature file
  backend/src/test/java/ca/mcgill/purposeful/features/ID019_browseIdeaStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID020_moreDetailsOfIdeaStepDefinitions.java
  backend/src/test/resources/ID019_browseIdea.feature
  backend/src/test/resources/ID020_moreDetailsOfIdea.feature
  backend/src/test/unimplemented_resources/ID022_collaborationRequestWithMessage.feature
  backend/src/test/unimplemented_resources/ID023_browseIdeasByCollaborationRequest.feature
Labels: backend

#175 T223 - Implement and test the service method that allows a user to browse ideas by collaboration request
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
  backend/src/test/unimplemented_resources/ID023_browseIdeasByCollaborationRequest.feature
Labels: enhancement, Idea, backend

#192 First attempt at idea details, login, and high five component
  frontend/purposeful-frontend/app/idea/head.js
  frontend/purposeful-frontend/app/idea/page.js
  frontend/purposeful-frontend/app/idea/view_details/head.js
  frontend/purposeful-frontend/app/idea/view_details/page.js
  frontend/purposeful-frontend/components/Carousel.js
  frontend/purposeful-frontend/components/HighFiveBtn.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
Labels: frontend

#180 T227 - Implement and test the service method that allows a user to get all ideas they have created
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestIdeaService.java
  backend/src/test/unimplemented_resources/ID024_accessCreatedIdeas.feature
Labels: Idea, backend

#210 T242 - view collaboration response feature file
  backend/src/test/unimplemented/ID026_viewCollaborationResponses.feature
Labels: backend, feature

#215 T244 - Rest endpoints for viewing collaboration responses
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationResponseController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationResponseDTO.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationResponseService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestCollaborationResponseService.java
Labels: backend

#213 T228 - Implement and document the RESTful API endpoints in the controller for a user to get all ideas they have created
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/main/java/ca/mcgill/purposeful/service/IdeaService.java
  backend/src/test/unimplemented_resources/ID024_accessCreatedIdeas.feature
Labels: Idea, backend

#212 T250 - Implement the frontend component for a navigation bar between pages
  frontend/purposeful-frontend/app/account/page.js
  frontend/purposeful-frontend/app/layout.js
  frontend/purposeful-frontend/app/register/moderator/page.js
  frontend/purposeful-frontend/app/register/page.js
  frontend/purposeful-frontend/components/NavBar.js
  frontend/purposeful-frontend/components/Registration.js
  frontend/purposeful-frontend/package-lock.json
  frontend/purposeful-frontend/package.json
  frontend/purposeful-frontend/utils/fetch_wrapper.js
  frontend/purposeful-frontend/utils/notification.js
Labels: feature, frontend

#218 Implemented and tested approval / decline
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationResponseDTO.java
  backend/src/main/java/ca/mcgill/purposeful/model/CollaborationRequest.java
  backend/src/main/java/ca/mcgill/purposeful/model/CollaborationResponse.java
  backend/src/main/java/ca/mcgill/purposeful/model/Status.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationRequestService.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationResponseService.java
  backend/src/test/java/ca/mcgill/purposeful/dao/CollaborationRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/dao/CollaborationResponseRepositoryTests.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestCollaborationRequestService.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestCollaborationResponseService.java
Labels: backend

#226 T236 - Implement the Restful methods for handling a collaboration request
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationResponseController.java
  backend/src/main/java/ca/mcgill/purposeful/dto/CollaborationResponseDTO.java
Labels: backend

#228 T252 (Connect all necessary components that allows to create moderators on the frontend page to the backend) & T187 (Connect all necessary components that allows users to register and sign up on the frontend page to the backend)
  backend/src/main/java/ca/mcgill/purposeful/configuration/SecurityConfiguration.java
  frontend/purposeful-frontend/components/Registration.js
  frontend/purposeful-frontend/utils/fetch_wrapper.js
  frontend/purposeful-frontend/utils/notification.js
Labels: backend, feature, frontend

#223 T229 - Implement step definitions for acceptance tests defined in the feature file to to get all ideas they have created
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID024_accessCreatedIdeasStepDefinitions.java
  backend/src/test/resources/ID024_accessCreatedIdeas.feature
Labels: Idea, backend

#229 T217 - Added the tests for the send collaboration request controller
  backend/src/main/java/ca/mcgill/purposeful/dto/IdeaDTO.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID022_collaborationRequestWithMessage.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID022_collaborationRequestWithMessage.feature
  backend/src/test/unimplemented_resources/ID022_collaborationRequestWithMessage.feature
Labels: backend

#235 T224 - Implement and document the RESTful API endpoints in the controller for a user to browse ideas by collaboration request
  backend/src/main/java/ca/mcgill/purposeful/controller/IdeaController.java
Labels: enhancement, Idea, backend

#236 T225 - Implement step definitions for acceptance tests defined in the feature file to browse ideas by collaboration request
  backend/src/test/java/ca/mcgill/purposeful/features/ID023_browseIdeasByCollaborationRequestStepDefinitions.java
  backend/src/test/resources/ID023_browseIdeasByCollaborationRequest.feature
  backend/src/test/unimplemented_resources/ID023_browseIdeasByCollaborationRequest.feature
Labels: Idea, backend, test

#233 T237 - Implement the acceptance tests for handling a collaboration request
  backend/src/main/java/ca/mcgill/purposeful/controller/CollaborationResponseController.java
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationResponseService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID025_respondToCollaborationRequests.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestCollaborationResponseService.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID025_respondToCollaborationRequests.feature
  backend/src/test/unimplemented_resources/ID025_respondToCollaborationRequests.feature
Labels: backend

#220 T245 - step definitions for viewing collaboration responses
  backend/src/main/java/ca/mcgill/purposeful/service/CollaborationResponseService.java
  backend/src/test/java/ca/mcgill/purposeful/features/ID026_viewCollaborationResponseStepDefinitions.java
  backend/src/test/java/ca/mcgill/purposeful/service/TestCollaborationResponseService.java
  backend/src/test/java/ca/mcgill/purposeful/util/CucumberUtil.java
  backend/src/test/resources/ID026_viewCollaborationResponses.feature
  backend/src/test/unimplemented/ID026_viewCollaborationResponses.feature
Labels: backend, test

#241 T194 - Design and implement the components for the frontend page to create an idea
  backend/src/main/java/ca/mcgill/purposeful/controller/DomainController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/TechnologyController.java
  backend/src/main/java/ca/mcgill/purposeful/controller/TopicController.java
  backend/src/main/java/ca/mcgill/purposeful/service/DomainService.java
  backend/src/main/java/ca/mcgill/purposeful/service/TechnologyService.java
  backend/src/main/java/ca/mcgill/purposeful/service/TopicService.java
  frontend/purposeful-frontend/app/create/head.js
  frontend/purposeful-frontend/app/create/page.js
  frontend/purposeful-frontend/components/ContainerLabel.js
  frontend/purposeful-frontend/components/CreateIdea.js
  frontend/purposeful-frontend/utils/fetch_wrapper.js
  frontend/purposeful-frontend/utils/idea_tool.js
Labels: Idea, frontend

#248 T246 - CollaborationResponse component
  frontend/purposeful-frontend/components/CollaborationResponse.js
Labels: frontend

#240 T230 - Design and implement the components for the frontend page involving a user accessing the ideas they created
  frontend/purposeful-frontend/app/myideas/head.js
  frontend/purposeful-frontend/app/myideas/page.js
  frontend/purposeful-frontend/components/MyIdeas.js
Labels: Idea, frontend

#247 T202 - Design and implement the frontend component to delete an idea
  frontend/purposeful-frontend/app/idea/modify/head.js
  frontend/purposeful-frontend/app/idea/modify/page.js
  frontend/purposeful-frontend/components/ContainerLabel.js
  frontend/purposeful-frontend/components/ModifyIdea.js
Labels: Idea, frontend

#246 T198 - Design and implement the components for the frontend page to modify a user's idea
  frontend/purposeful-frontend/components/ModifyIdea.js
Labels: Idea, frontend

#254 T213 - Connect the frontend component to high five an idea to the backend
  frontend/purposeful-frontend/components/HighFiveBtn.js
Labels: frontend

#249 T179 + T191 - Connect all necessary components on the frontend page to modify moderator account details to the backend + Connect all necessary components on the frontend page to modify user account details to the backend
  backend/src/main/java/ca/mcgill/purposeful/PurposefulApplication.java
  frontend/purposeful-frontend/app/account/head.js
  frontend/purposeful-frontend/app/account/page.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/components/ModifyAccountDetails.js
Labels: frontend

#253 T183 - Connect all necessary components on the frontend page to login to the backend
  frontend/purposeful-frontend/app/page.js
  frontend/purposeful-frontend/components/Login.js
  frontend/purposeful-frontend/components/NavBar.js
Labels: frontend

#255 T209 - Connect all necessary components on the frontend page to view more details of an idea to the backend
  frontend/purposeful-frontend/app/idea/[ideaId]/head.js
  frontend/purposeful-frontend/app/idea/[ideaId]/page.js
  frontend/purposeful-frontend/app/idea/head.js
  frontend/purposeful-frontend/components/Carousel.js
Labels: frontend

#257 T218 - Design and implement the components for the frontend page to send a collaboration request
  frontend/purposeful-frontend/app/idea/[ideaId]/page.js
  frontend/purposeful-frontend/components/CollabRequestPopup.js
Labels: frontend

#261 T176-T177/T188-T189 Fix and improve the registration component
  frontend/purposeful-frontend/components/Registration.js
Labels: bug, frontend
